#Constants {
    overflow-y: scroll;
}

.constantsSettings {
    margin: 0 auto;
}

#constantsForm {
    margin: 3em;
}

.constantsSettings input[type=text] {
    font-family: monospace;
}

.constantsSettings button {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0;
}

.constants-inputs {
    position: relative;
}

.delete-constant {
    padding: 0 5;
    position: absolute;
    display: none;
}
