.panel {
    display: flex;
    flex: 1;
    min-width: 0;
}

.tabcontent > .panel {
    margin: 0;
    padding: 0;
}

.panel-branch-vertical > .panel-leaf {
    width: auto;
}

.panel-branch-horizontal {
    flex-flow: row;
}

.panel-branch-horizontal > .panel:first-child {
    border-right: 1px solid #ccc;
}

.panel-branch-vertical {
    flex-flow: column;
}

.panel-branch-vertical > .panel:first-child {
    border-bottom: 1px solid #ccc;
}

.panel-removable {
    cursor: pointer;
    overflow: hidden;
}

.remove-cover {
    position: absolute;
    display: none;
    background: #e00;
    opacity: 0.25;
    cursor: pointer;
    display: none;
}

.remove-cover:hover {
    display: block;
}
